@media (max-width: 991px) {
  header {
    top: 0;
  }
  .header-top {
    display: none;
  }
  .db-mobile {
    display: block !important;
  }
}

@media (max-width: 768px) {
  .serach-frm {
    transform: translate(-50%, -50%);
    left: 50%;
    width: 100%;
    border: 0;
    border-radius: 0;
  }
  .serices-row .col-md-4 {
    border-right: 0;
  }
  .border-b-md {
    border-bottom: 0.1rem solid var(--border-color) !important;
  }
  section {
    padding: 5rem 1rem;
  }
  .gap-md-2 {
    gap: 2rem;
  }
  .icon-box {
    width: 7rem;
    height: 7rem;
  }
}

@media (max-width: 550px) {
  .carousel-inner .carousel-item {
    height: 47rem;
  }
  .list-box {
    padding: 2rem;
    margin: 1rem;
  }
  .mobile-logo {
    width: 11rem;
  }
}
@media (max-width: 350px) {
}
