@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 160%;
}

/* global CSS */
html {
  font-size: 62.2%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.8rem;
  font-family: "Urbanist", sans-serif;
}
section {
  padding: 6rem 0;
}
:root {
  --black-color: rgb(15 23 42 / 1);
  --black-light: rgb(15, 23, 42, 0.6);
  --white-color: #ffffff;
  --white-gray: #f2f3fe;
  --border-color: rgba(71, 85, 105, 0.2);
  --green-color: #198754;
}

p {
  color: var(--black-color);
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1.8rem;
}
h1,
h3,
h2,
h4,
h5 {
  color: var(--black-color) !important;
}
.btn {
  font-size: 1.8rem;
  padding: 0.5rem 1.5rem;
}
.frm-heading {
  font-size: 3.4rem;
  font-weight: 700;
}
.frm-heading-sub-heading {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(51 65 85/1);
}
.section-heading {
  text-align: center;
  margin-bottom: 8rem;
  position: relative;
}
.section-heading::after {
  content: "";
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 20rem;
  height: 0.3rem;
  border-radius: 1rem;
  background: var(--green-color);
}
.section-heading::before {
  content: "";
  position: absolute;
  bottom: -2.8rem;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 2rem;
  height: 2rem;
  background: var(--green-color);
}
.section-heading h2 {
  font-size: 3.2rem;
  color: var(--black-color);
  font-weight: 800;
  text-transform: uppercase;
}
.section-heading h3 {
  font-size: 2rem;
  color: var(--black-light);
  font-weight: 600;
  opacity: 0.8;
}
.fw-500 {
  font-weight: 500;
}
.form-control {
  font-size: 1.6rem;
  padding: 1rem;
}
backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 1;
}
.modal-backdrop {
  backdrop-filter: blur(5px);
  background-color: #00000073;
}
/* onscroll animation */
/**Styling scrollable elements*/

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 0.5s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 0.5s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 0.5s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 0.5s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.tap-toTop {
  position: fixed;
  bottom: 10rem;
  right: 2rem;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  z-index: 999;
}
.tap-toTop.active {
  bottom: 3rem;
  opacity: 1;
  visibility: visible;
}
/* header */
header {
  background-color: var(--white-color);
  position: sticky;
  top: -6.8rem;
  z-index: 999;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}
.btn-header {
  padding: 1rem;
  font-size: 1.4rem;
  text-decoration: none;
  background: transparent;
  border: 0.2rem solid var(--white-color);
  border-radius: 1rem;
  color: var(--white-color);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-header:hover {
  background: var(--menu-bg);
  color: var(--white-color);
}
.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  gap: 2rem;
}
.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.navbar {
  background: var(--white-gray) !important;
  color: var(--white-color);
  border-bottom: 0.1rem solid var(--border-color);
}
.navbar-nav {
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 0;
  padding-right: 0;
}
.nav-item a {
  color: var(--black-color) !important;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-weight: 600;
}
.nav-item a:focus,
.nav-item a:hover {
  opacity: 0.9;
  color: var(--green-color) !important;
}
.nav-item a.active {
  color: var(--green-color) !important;
}

.hovre-white.hovre-whit-btn:hover {
  color: #fff !important;
}
.dropdown-menu {
  background: var(--white-gray);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  min-width: 20rem;
  padding: 0;
  border-radius: 0 0 0.5rem 0.5rem;
}
.dropdown-menu .dropdown-item {
  border-bottom: 0.1rem solid var(--border-color) !important;
  font-size: 1.6rem;
}
.dropdown-menu .dropdown-item:last-child {
  border-bottom: 0 !important;
}
.dropdown-menu[data-bs-popper] {
  margin-top: 0.5rem;
}
.dropdown-menu.show {
  animation: slideDown 0.2s cubic-bezier(0.4, 0, 1, 1) forwards;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background: var(--white-color) !important;
}
@keyframes slideDown {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0);
  }
}
.navbar-collapse {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

/* hero-section */
.carousel-inner {
  background: gray;
  position: relative;
}
.carousel-inner .carousel-item {
  height: 90vh;
  background-position: right !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.carousel-inner .carousel-item img {
  width: 100%;

  object-fit: contain;
}
.serach-frm {
  position: absolute;
  z-index: 99;
  max-width: 55rem;
  background: #f0f1ff9a;
  padding: 7rem 3rem;
  top: 50%;
  transform: translateY(-50%);
  left: 10rem;
  border-radius: 1rem;
  backdrop-filter: blur(2rem);
  border: 0.1rem solid var(--border-color);
}
.tranding-client {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.tranding-client div {
  width: 8rem;
  background: #ffffffab;
  border-radius: 1rem;
  border: 0.1rem solid var(--border-color);
  padding: 0.8rem 0.5rem;
  text-align: center;
}
.tranding-client div p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

/* Hero section style */

.floating-label {
  position: relative;
}

.floating-input,
.floating-select {
  font-size: 1.7rem;
  padding: 0.4rem 0.4rem;
  display: block;
  width: 100%;
  height: 4.5rem;
  background-color: #fff;
  border: none;
  border: 0.1rem solid var(--border-color);
  border-radius: 0.5rem;
}

.floating-input:focus,
.floating-select:focus {
  color: #212529;
  background-color: #fff;
  border-color: #1987546b;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #1987546b;
}

.floating-labels {
  color: #999;
  font-size: 1.8rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0.6rem;
  top: 0.8rem;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.floating-input:focus ~ label,
.floating-input:not(:placeholder-shown) ~ label {
  top: -1.8rem;
  font-size: 1.4rem;
  color: #198754;
}

.floating-select:focus ~ label,
.floating-select:not([value=""]):valid ~ label {
  top: -2.5rem;
  font-size: 1.4rem;
  color: #198754;
}

/* active state */

.floating-input:focus ~ .bar:before,
.floating-input:focus ~ .bar:after,
.floating-select:focus ~ .bar:before,
.floating-select:focus ~ .bar:after {
  width: 50%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.floating-textarea {
  min-height: 3rem;
  max-height: 26rem;
  overflow: hidden;
  overflow-x: hidden;
}

/* highlighter */

.highlight {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 15%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */

.floating-input:focus ~ .highlight,
.floating-select:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* animation */

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}

/* testimonial section style */
.textiomonial-section {
  background: var(--white-gray);
  border-top: 0.1rem solid var(--border-color);
  border-bottom: 0.1rem solid var(--border-color);
}
.snip1533 {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-size: 1.6rem;
  margin: 3.5rem 1rem 1rem;

  position: relative;
  text-align: center;
  background-color: #ffffff;
  border-radius: 0.5rem;
  border-top: 0.5rem solid var(--green-color);
}

.snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1533 figcaption {
  padding: 13% 10% 12%;
}

.snip1533 figcaption .quate-icon {
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);

  left: 50%;

  position: absolute;
  top: -3rem;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.snip1533 figcaption .quate-icon img {
  width: 60%;
}

.snip1533 h3 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.4rem;
  margin: 1rem 0 0.5rem;
}

.snip1533 h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

.snip1533 blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 2rem;
}
/* useable section style */
.icon-box {
  background: var(--white-gray);
  flex-shrink: 0;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid var(--border-color);
}
.icon-box .icon {
  transition: 0.3s;
}
.icon-box:hover .icon {
  transform: scale(1.1);
}

/* services section style */

.serices-row {
  border: 0.1rem solid var(--border-color);
  padding: 2.5rem;
  border-radius: 1rem;
  background-color: var(--white-color);

  box-shadow: 0 0 #0c1222, 0 0 #0000, 0 0 #0000, 0 0 #0000,
    0 2rem 2.5rem -0.5rem rgba(0, 0, 0, 0.1),
    0 0.8rem 1rem -0.6rem rgba(0, 0, 0, 0.1);
}
.serices-row .col-md-4 {
  border-right: 0.1rem solid;
  min-height: 20rem;
  text-align: center;
  border-color: var(--border-color) !important;
}
.serices-row .col-md-4 div {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-top: 1rem;
}
.serices-row .col-md-4:hover div {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.serices-row .col-md-4:last-child {
  border-right: 0;
}
.br-0 {
  border-right: 0 !important;
}

/* benefits section style */
.benefits-section {
  background: var(--white-gray);
  border-top: 0.1rem solid var(--border-color);
}
.img-box-inner {
  height: 30rem;
  margin: 1rem 0;
  position: relative;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
  border: 1px solid var(--border-color);
}
.img-box {
  height: 100%;
  margin: 1rem;
}
.img-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.hover-content {
  position: absolute;
  width: 92.5%;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  z-index: 9;
  padding: 0 1.5rem 1.5rem 1.5rem;
  background: var(--green-color);
  bottom: -26rem;
  transition: 0.3s;
  text-align: center;
  border-radius: 1rem 1rem 0 0;
  border: 1px solid var(--border-color);
}
.img-box-inner:hover .hover-content {
  bottom: -1rem;
  padding-top: 2rem;
  border-radius: 0;
}
/* deposit-section */
.deposit-section {
  background: var(--white-gray);
  border-bottom: 0.1rem solid var(--border-color);
}

footer {
  padding: 6rem 0;
  background-color: #198754;
}
.copywrite-txt {
  background-color: #198754dc;
  padding: 1rem;
}
ul {
  padding-left: 0;
}
.social-link {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.social-link {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.social-link li a {
  color: #ffffffc4;
  display: inline-block;
  transition: 0.1s;
  transform: scale(1.2);
}
.social-link li:hover a {
  transform: scale(1.3);
  color: #ffffff;
}
.footer-link {
  list-style: none;
}
.list-style-none {
  list-style: none;
}
.footer-link li {
  margin: 0.8rem 0;
}
.footer-link li a {
  color: #ffffffe0;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  transition: 0.1s;
  transform: scale(1.05);
}
.footer-link li:hover a {
  color: #ffffff;
  transform: scale(1.1);
}
.abileble-frm {
  background: var(--white-gray);
  padding: 3.5rem;
  border-radius: 0.5rem;
}
.abileble-frm-inner li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid var(--border-color);
  padding: 0.8rem 0;
}

/* vitual office karachi page */
.banner-section {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url(../img/cow.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 10rem 0;
  border-top: 0.1rem solid var(--border-color);
  border-bottom: 0.1rem solid var(--border-color);
}
.banner-section-konchi {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url(../img/img3.jpg);
  background-size: 100%;
  background-attachment: fixed;
  padding: 10rem 0;
  border-top: 0.1rem solid var(--border-color);
  border-bottom: 0.1rem solid var(--border-color);
}
.banner-section-contact {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url(../img/cow.jpg);
  background-size: 100%;
  background-attachment: fixed;
  padding: 10rem 0;
  border-top: 0.1rem solid var(--border-color);
  border-bottom: 0.1rem solid var(--border-color);
}
.banner-section-services {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url(../img/virtual-office-3.jpeg);
  background-size: 100%;
  background-attachment: fixed;
  padding: 10rem 0;
  border-top: 0.1rem solid var(--border-color);
  border-bottom: 0.1rem solid var(--border-color);
}
.video iframe {
  width: 90%;
  height: 30rem;
  object-fit: cover;
}
/* gallery section */
.gallery-section {
  background: var(--white-gray);
  border-top: 0.1rem solid var(--border-color);
  border-bottom: 0.1rem solid var(--border-color);
  padding-bottom: 9rem;
  overflow: hidden;
}
.gallery-inner {
  position: relative;
}
.customNavigation .btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -3rem;
}
.customNavigation .btn.next {
  left: inherit;
  right: -3rem;
}
#owl-gallery .item {
  margin: 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  border: 0.1rem solid var(--border-color);
  background: #fff;
}
#owl-gallery .item:hover a img {
  padding: 0.2rem;
}
#owl-gallery .item a img {
  overflow: hidden;
  width: 100%;
  padding: 1rem;
  transition: 0.3s;
}
.gallery-inner .owl-theme .owl-controls {
  display: none !important;
}
.g-box {
  text-align: center;
  background: var(--white-gray);
  padding: 4rem 2.5rem;
  border-radius: 1rem;
  border: 0.1rem solid var(--border-color);
  transition: 0.3s;
  margin: 0.8rem 0;
}
.g-box:hover {
  transform: scale(1.05);
}
.g-box .icon {
  background: #19875425;
  width: 9rem;
  height: 9rem;
  margin: auto;
  padding: 1.8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.g-box .icon img {
  width: 100%;
}
.g-box a {
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1rem 0;
  display: block;
  color: var(--black-color);
  padding-top: 0.8rem;
}
/* faq section style */
.faq-section {
  background: var(--white-gray);
  border-top: 0.1rem solid var(--border-color);
  border-bottom: 0.1rem solid var(--border-color);
}
.accordion {
  max-height: 40rem;
  overflow-y: scroll;
}
.accordion::-webkit-scrollbar {
  background: transparent;
  width: 1rem;
}
.accordion::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 1rem;
}
.accordion-button {
  font-size: 1.8rem;
  font-weight: 600;
  background: transparent !important;
  padding: 1.5rem 1.25rem;
}
.accordion-button:focus {
  box-shadow: inherit;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.accordion-button:not(.collapsed) {
  background: #198754 !important;
  color: #fff;
}
.accordion-item {
  background: transparent !important;
}
.how-work-section {
  background: var(--white-gray);
  border-top: 0.1rem solid var(--border-color);
}
/* FTP from style */
.ftp-frm {
  background: #198754;
  padding: 5rem;
}

/* co working spage page style */
#owl-gallery-single .item img {
  width: 100%;
}
#owl-gallery-single .item {
  margin: 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  border: 0.1rem solid var(--border-color);
  background: #fff;
  overflow: hidden;
}
.flexible-work-section {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
    url(../img/virtual-office-4.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

.list-box {
  min-height: 50rem;
  background: #19875456;
  backdrop-filter: blur(3rem);
  padding: 4rem;
  border: 0.1rem solid var(--border-color);
  border-radius: 1rem;
  margin: 2rem;
}
.list-box h2 {
  border-bottom: 0.1rem solid rgb(255, 255, 255);
  padding: 1rem 0;
  margin-bottom: 2rem;
}
.list-box li {
  font-weight: 500;
  margin: 0.8rem 0;
}

/* about page style */
#owl-demo-single-sm .item {
  margin: 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;
  border: 0.1rem solid var(--border-color);
  background: #fff;
}
#owl-demo-single-sm .item:hover img {
  padding: 0.2rem;
}
#owl-demo-single-sm .item img {
  overflow: hidden;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  padding: 1rem;
  transition: 0.3s;
}
.map iframe {
  width: 100%;
  height: 30rem;
}
/* pricing page  style*/
.pricing-table-section {
  background: var(--white-gray);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.table {
  background: #fff;
  margin: 1.5rem 0;
  padding: 3rem 3rem;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.table .price-section {
  display: flex;
  justify-content: center;
}
.table .price-area {
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  padding: 0.2rem;
}
.price-area .inner-area {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 0.3rem solid #fff;
  text-align: center;
  color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.price-area .inner-area .text {
  font-size: 2rem;
  font-weight: 400;
  position: absolute;
  top: 1.5rem;
  left: 1.7rem;
}
.price-area .inner-area .text-2 {
  font-size: 1.7rem;
  font-weight: 500;
  position: absolute;
  top: 7.8rem;
  left: 60%;
  transform: translateX(-50%);
}
.price-area .inner-area .price {
  font-size: 4rem;
  font-weight: 600;
}
.table .package-name {
  width: 100%;
  height: 0.2rem;
  margin: 3.5rem 0;
  position: relative;
}
.table .package-name::before {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2.5rem;
  font-weight: 500;
  background: #fff;
  padding: 0 1.5rem;
  transform: translate(-50%, -50%);
}
.table .features li {
  margin-bottom: 0.5rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.features li .list-name {
  font-size: 1.7rem;
  font-weight: 400;
}
.features li .icon {
  font-size: 1.5rem;
}
.features li .icon.check {
  color: #2db94d;
}
.features li .icon.cross {
  color: #cd3241;
}
.table .btn {
  width: 100%;
  display: flex;
  margin-top: 3.5rem;
  justify-content: center;
}
.table .btn button {
  width: 80%;
  height: 5rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 2.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.table .btn button:hover {
  border-radius: 0.5rem;
}
.basic .features li::selection {
  background: #ffd861;
}
.basic ::selection,
.basic .price-area,
.basic .inner-area {
  background: #ffd861;
}
.basic .btn button {
  border: 0.2rem solid #ffd861;
  background: #fff;
  color: #ffd861;
}
.basic .btn button:hover {
  background: #ffd861;
  color: #fff;
}
.premium ::selection,
.premium .price-area,
.premium .inner-area,
.premium .btn button {
  background: #a26bfa;
}
.premium .btn button:hover {
  background: #833af8;
}
.ultimate ::selection,
.ultimate .price-area,
.ultimate .inner-area {
  background: #43ef8b;
}
.ultimate .btn button {
  border: 0.2rem solid #43ef8b;
  color: #43ef8b;
  background: #fff;
}
.ultimate .btn button:hover {
  background: #43ef8b;
  color: #fff;
}
.basic .package-name {
  background: #ffecb3;
}
.premium .package-name {
  background: #d0b3ff;
}
.ultimate .package-name {
  background: #baf8d4;
}
.basic .package-name::before {
  content: "STANDARD";
  font-size: 2rem;
}
.premium .package-name::before {
  content: "PREMIUM";
  font-size: 2rem;
}
.ultimate .package-name::before {
  content: "ULTIMATE";
  font-size: 2rem;
}

.table .ribbon {
  width: 15rem;
  height: 15rem;
  position: absolute;
  top: -1rem;
  left: -1rem;
  overflow: hidden;
}
.table .ribbon::before,
.table .ribbon::after {
  position: absolute;
  content: "";
  z-index: -1;
  display: block;
  border: 0.7rem solid #4606ac;
  border-top-color: transparent;
  border-left-color: transparent;
  z-index: 99;
}
.table .ribbon::before {
  top: 0rem;
  right: 1.5rem;
}
.table .ribbon::after {
  bottom: 1.5rem;
  left: 0rem;
}
.table .ribbon span {
  position: absolute;
  top: 3rem;
  right: 0;
  transform: rotate(-45deg);
  width: 20rem;
  background: #a26bfa;
  padding: 1rem 0;
  color: #fff;
  text-align: center;
  font-size: 1.7rem;
  text-transform: uppercase;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.12);
}
/* contact-section */
.contact-section {
  background: url(../img/contact-bg.jpg);
  background-size: cover;
  background-position: center center;
}
.form-floating > .form-control {
  height: 5.4rem;
}
.contact-frm {
  background: #1987543b;
  padding: 3rem;
  backdrop-filter: blur(4rem);
  border-radius: 1rem;
}
.header-form {
  border-bottom: 0.1rem solid var(--border-color);
  margin-bottom: 2rem;
}
.contact-address img {
  background: #1987543b;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 6rem;
}

/* services page style */
/* card */
.services-section {
  background: var(--white-gray);
}
.card {
  transition: 0.3s;
  border: 1px solid var(--border-color) !important;
  margin: 0.3rem;
}
.card .card-header {
  height: 25rem;
  padding: 1.5rem;
  overflow: hidden;
}

.card .card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  transition: 0.3s;
}
.card .card-body {
  min-height: 18rem;
}
.card:hover {
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.25) !important;
}
.card:hover .card-header img {
  transform: scale(1.3);
}
/* appoint section */
.extrea-bold {
  font-weight: 800 !important;
}
.appiontment-section {
  background: var(--white-gray);
}
.bg-w-light {
  background: var(--white-gray) !important;
}
